<% include ../includes/header %>

<h1>
    添加一张图片
</h1>

<hr/>
<form>
<textarea style="width: 300px;margin-left: 10px;height: 100px;">
    
</textarea>
<hr/>
<input type="submit" value="提交">
</form>


<% include ../includes/footer %>