<% include ../../includes/header %>

关于我们 -  编辑

<hr/>
<form action="contact" method="post">
    <p><input type="hidden" name="type" value="contact" /></p>
    <p>标题：<input type="text" name="title" value="<%=data.title%>" /></p>
    <p>内容: <textarea name="contents"><%=data.contents %></textarea> </p>
    <input type="submit" value="Submit" />
</form>

<% include ../../includes/footer %>