<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/build/system_page.min.css">
    <script type="text/javascript" src="/build/modulepage.min.js"></script>
</head>
<body>