<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/build/login.min.css">
    <script type="text/javascript" src="/build/login.min.js"></script>
</head>
<body>