<% include header %>

<h1 class="articleTitle"><%=title%></h1>

<div class="wp">
    <form action="jobs" method="post">
        <input type="hidden" name="type" value="jobs" />
        <input type="hidden" name="jobs" value="">
        <div class="form-group">
            <label for="inputTitle">标题：</label>
            <input type="title" name="title" class="form-control" id="inputTitle" value="<%=data.title%>" placeholder="请输入标题">
        </div>
        <div class="form-group">
            <label for="contents">内容：</label>
            <div id="mdeditor" class="mdeditor"><%=data.contents %></div>
        </div>
        <input class="btn btn-default" type="submit" value="提交保存" />
    </form>
    
</div>
<% include footer %>