@import('reset.styl')
global-reset()
@import('form.styl')

.wp
    padding:10px


.JSLite_tabs 
    li 
        list-style: none
    .JSLite_tabHead 
        overflow: hidden
        padding: 0 0 0 10px
        border-bottom:2px solid #EEE
        li 
            float:left
            a 
                display:block
                padding:5px 10px 5px 10px
                text-decoration:none;
                border-radius:4px 4px 0 0
                color:#878787
        li.on 
            a 
                color:#236BE6
                background: #EEE
    .JSLite_tabCon
        clear:both
        padding:10px 0 0 0
        li.on
            display:block
        li 
            display:none;


.articleTitle
    font-size: 24px
    border-bottom:1px solid #EEE
    padding: 10px 0 10px 10px
    font-family: inherit 
    font-weight: 700
    line-height: 1.2
    color: inherit
.nav-tabs
    margin:0
    li 
        display: inline-block
        a 
            display:block
            padding:5px 10px 5px 10px
            color:#333
    .active
        a 
            background:#C5C5C5
            color:#fff
            border-radius: 3px 3px 0 0