@import('reset.styl')
global-reset()

.wp
    padding:10px

.articleTitle
    font-size: 24px
    border-bottom:1px solid #EEE
    padding: 10px 0 10px 10px
    font-family: inherit 
    font-weight: 700
    line-height: 1.2
    color: inherit
.nav-tabs
    margin:0
    li 
        display: inline-block
        a 
            display:block
            padding:5px 10px 5px 10px
            color:#333
    .active
        a 
            background:#C5C5C5
            color:#fff
            border-radius: 3px 3px 0 0