@import('reset.styl')
global-reset()

.wp
    width:1000px
    margin:0 auto
.cl
    clear:both    

header
    height:100px
    background:#ECECEC
    h1
        text-align:center
        line-height:100px
        font-size:16px
        font-weight:bold
        
.pic_list
    margin: 0 auto
    padding:0 0 10px 0 
    ul
        li
            float:left
            width:25%
            text-align:center
            i
                padding:20px 0 0 0
                display:block
                margin:0 10px 
                height: 340px
                overflow:hidden
                img
                    width:100%
            span
                display:block
                background:#EBEBEB
                margin:0 10px 
                padding: 8px 5px